/* font */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
}

/* Menu de navigation */
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 115px;
}

.navMenu--logo {
    /* margin-left: 5%; */
}

.navMenu--links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 15px;
}
.navMenu--link a {
    color: #000;
    padding: 47px 10px 0 10px;
    border-top: 4px transparent solid;
    transition: border-top .5s ease-in-out;
}

.navMenu--link a:hover {
    color: #0065FC;
    border-top: 4px #0065FC solid;
}
.navMenu--link_register a, .navMenu--linkMobile_register {
    color: #0065FC;
    font-weight: 700;
}

.navMenu--linkMobile_register {
    display: none;
    margin-right: 7%;
}

/* search bar */
.search {
    width: 80%;
    margin: auto;
}

.search .search--title {
    font-size: 18px;
}

.search .search--form {
    display: flex;
}

.search .search--form .search--form_markerLabel {
    background-color: #F2F2F2;
    padding: 8px 15px;
    border-radius: 5px 0 0 5px;
}

.search .search--form .search--form_text {
    height: 31px;
    border: solid #F2F2F2 1px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.search .search--form .search--form_text::placeholder {
    font-weight: 400;

}

.search .search--form .search--form_submit {
    width: 110px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #FFF;
}

/* filter */
.filters {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 3%;
    flex-wrap: wrap;
}
.filters .filters--title {
    font-size: 15px;
}

.filters .filters--filter {
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    /* height: 35px; */
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 700;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.filters .filters--filter:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filters .filters--filter .filters--filter_icon {
    width: 39px;
    height: 39px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    left: -4px;
}

/* info */
.information {
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
.information .information--icon {
    padding: 10px 15px;
    border-radius: 50%;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    margin-right: 15px;
}

/* accomodation */

.accommodation {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.accommodation--ticket_stars {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}
.accommodation--ticket_starBlue {
    color: #0065FC;
}

.accommodation--ticket_starGrey {
    color: #F2F2F2;
}

/* accomodation found*/
.accommodation .accommodation--found {
    width: 67%;
    height: 625px;
    background-color: #F2F2F2;
    /* padding: 10px 30px; */
    border-radius: 27px;
}
.accommodation .accommodation--found .accommodation--title {
    width: 90%;
    margin: 25px auto;
}

.accommodation .accommodation--found .accommodation--tickets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 495px;
}

.accommodation .accommodation--found .accommodation--ticket {
    width: 28%;
    height: 190px;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    line-height: 20px;
    box-shadow: -2px 3px 14px #c5c3c3;
    /* cursor: pointer; */
}
.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_picture{
    /* width: 95%; */
    height: 105px;
    /* background-color: red; */
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    /* margin: 5px auto; */
}

.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_pictureHotelPort {
    background-image: url("../images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.accommodation .accommodation--found .accommodation--ticket  .accommodation--ticket_pictureHotelMouettes {
    background-image: url("../images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_pictureHotelMer {
    background-image: url("../images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_pictureAubergePanier {
    background-image: url("../images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_pictureHotelAmina {
    background-image: url("../images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_pictureAuberge{
    background-image: url("../images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
}


.accommodation .accommodation--found .accommodation--ticket p {
    margin: 0;
    text-align: left;
    color: #000;
}
.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_name {
    font-weight: 800;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;

}

.accommodation .accommodation--found .accommodation--ticket .accommodation--ticket_price {
    font-weight: 600;
    font-size: 11px;
    margin-left: 10px;
}

.accommodation .accommodation--found .accommodation--displayMore {
    display: block;
    color: #000;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
}

/* accomodation most popular*/
.accommodation .accommodation--mostPopular {
    width: 30%;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 27px;

}

.accommodation .accommodation--mostPopular .accommodation--tickets {
    width: 90%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.accommodation .accommodation--mostPopular .accommodation--tickets .accommodation--ticket {
    width: 90%;
    height: 148px;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: -2px 3px 14px #c5c3c3;
}
.accommodation .accommodation--mostPopular .accommodation--title {
    width: 83%;
    margin: 25px auto;
 }

 .accommodation .accommodation--mostPopular .accommodation--tickets .accommodation--ticket {
     display: flex;
     padding: 5px;
     /* cursor: pointer; */
 }

 .accommodation .accommodation--mostPopular .accommodation--tickets .accommodation--ticket .accommodation--ticket_picture {
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
 }

 .accommodation .accommodation--mostPopular .accommodation--tickets .accommodation--ticket .accommodation--ticket_infos {
    width: 60%;
    position: relative;
 }

 .accommodation .accommodation--mostPopular .accommodation--tickets .accommodation--ticket .accommodation--ticket_infos p {
    color: #000;
 }

 .accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_name {
    font-weight: 800;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;

}

.accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_price {
    font-weight: 600;
    font-size: 11px;
    margin-left: 10px;
}
.accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_stars {
    position: absolute;
    bottom: 10px;
}
.accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_pictureSoleilMatin{
    background-image: url("../images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_pictureChambreHote {
    background-image: url("../images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.accommodation .accommodation--mostPopular .accommodation--ticket .accommodation--ticket_pictureHotelBleuBlanc {
    background-image: url("../images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

/* activities  */

.activities {
    width: 80%;
    height: 500px;
    /* background-color: red; */
    margin: auto;
    margin-top: 2%;
}

.activities .activities--tickets {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.activities .activities--activity {
    width: 23%;
    height: 450px;
    /* background-color: green; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities .activities--activity .activities--activity_small {
    /* background-color: yellow; */
    width: 100%;
    height: 45%;
    border-radius: 25px;
}

.activities .activities--activity:nth-child(2n+1), .activities .activities--activity .activities--activity_small {
    box-shadow: -2px 3px 14px #c5c3c3;
}

.activities .activities--activity .activities--activity_small .activities--activity_image {
    height: 78%;
}

.activities .activities--activity .activities--activity_image {
    height: 90%;
    /* background-color: #0065FC; */
    border-radius: 25px 25px 0 0;
}

.activities .activities--activity .activities--activity_vieuxPort {
    background-image: url("../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity .activities--activity_small .activities--activity_fortPomegues {
    background-image: url("../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity .activities--activity_small .activities--activity_ileFrioul {
    background-image: url("../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity  .activities--activity_parcCalanques {
    background-image: url("../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity .activities--activity_small .activities--activity_notreDameGarde {
    background-image: url("../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity .activities--activity_small .activities--activity_parcLongchamp {
    background-image: url("../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg ");
    background-size: cover;
    background-position: center;
}

.activities .activities--activity h3, .activities .activities--activity .activities--activity_small h3 {
    font-size: 14px;
    font-weight: 800;
    margin-left: 20px;
}

@media screen and (max-width: 850px) {
    /* Menu de navigation */
    .navMenu {
        position: relative;
        align-items: flex-start;
        height: 140px;
        padding-top: 25px;
    } 
    .navMenu--logo {
        width: 125px;
    }
    .navMenu--logo img {
        width: 100%;
    }
    .navMenu--links {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .navMenu--link {
        width: 50%;
        text-align: center;
        padding-bottom: 35px;
        border-bottom: 3px transparent solid;
        transition: border-bottom .4s ease-in-out;
    }
    .navMenu--link:hover {
        border-bottom: 3px #0065FC solid;
    }

    .navMenu--link a{
        border-top: none;
        padding: 15px 36px;
    }
    .navMenu--link a:hover{
        border-top: none;
    }

    .navMenu--link_register {
        display: none;
    }
    .navMenu--linkMobile_register {
        display: flex;
        width: 25%;
        height: 68px;
        justify-content: flex-end;
        align-items: center;
    }

    /* filter */
    .filters .filters--title {
        width: 100%;
    }
    .filters .filters--filter {
        margin: 10px 10px 0 0;

    }

    .accommodation {
        flex-direction: column-reverse;
        width: auto;
    }
    .accommodation .accommodation--found {
        background-color: transparent;
        width: 100%;
        padding: 0;
        height: auto;
        padding-bottom: 25px;
    }
    .accommodation .accommodation--found .accommodation--tickets {
        justify-content: center;
        height: auto;
    }
    .accommodation .accommodation--found .accommodation--tickets .accommodation--ticket {
        width: 93%;
    }


    .accommodation .accommodation--mostPopular { 
        width: 100%;
        padding: 0;
        border-radius: 0;
        
    }

    /* activities */

    .activities { 
        height: auto;
    }

    .activities .activities--tickets {
        flex-direction: column;
    }

    .activities .activities--tickets .activities--activity {
        width: 100%;
    }
    .activities .activities--activity{
        margin-bottom: 11%;
    }

    .activities .activities--activity:nth-child(2n+1){
        height: 200px;;
    }
}